<div class="background">   
</div>

<div class="card">
    <img src="../../../assets/logo.png" alt="" width="250px" height="250px" style="position:absolute ; top: -20%; margin-left: 100px;">
    <div class="final">
        <form [formGroup]="login">
            <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <div fxLex="1 1 100%">
                    <mat-form-field style="width: 300px;" appearance="outline">
                        <mat-label style="font-weight: 900;">User Name</mat-label>
                        <input matInput type="text" formControlName="userName" autocomplete="off">
                        <mat-hint align="end" style="font-weight:900;">Enter your username</mat-hint>
                        <mat-error><strong>userName</strong> cant be blank</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="width: 300px;" appearance="outline">
                        <mat-label style="font-weight: 900;">Password</mat-label>
                        <input matInput type="text" formControlName="password"  autocomplete="off">
                        <mat-hint align="end" style="font-weight:900;">Enter your password</mat-hint>
                        <mat-error><strong>password</strong> cant be blank</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button class="btn-grad" (click)="logins()">Login</button>
                </div>
            </div>
        </form>

    </div>
</div>
